BASE_URL=
DEPLOY_SECRET=
DISCORD_CLIENT_ID=
DISCORD_PUBLIC_KEY=
FORWARDER_PUBLIC_KEY=
DISCORD_BOT_TOKEN=
CLAWSWEEPER_ENDOR_DISCORD_CHANNEL_ID=
CLAWSWEEPER_HERMIT_TOKEN=
DISCORD_DEV_GUILDS=
ANSWER_OVERFLOW_API_KEY=
HELPER_THREAD_WELCOME_PARENT_ID=
HELPER_THREAD_WELCOME_TEMPLATE=
THREAD_LENGTH_CHECK_INTERVAL_HOURS=
